<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Burndown Chart</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
		var i = 0;
$(function () {
    $('#container').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Burndown Chart Sprint: {{sprint}} '
        },
        subtitle: {
            text: 'Horas restantes de trabajo en el sprint'
        },
        xAxis: [{
        	categories: {{categorias}},
        	//categories: [],
            /*labels: {
                formatter: function () {
                	//categories[categories.length]=i;
                    return "Dia "+ i++;
                },
            	style: {
                        color: 'green'
                },
            	
                rotation: -45
            },*/
        
            crosshair: true
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value} hs',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Estimacion',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: 'Horas restantes',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value} mm',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true,
            },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 1000,
            verticalAlign: 'top',
            y: 100,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            //enabled: false
        },
        series: [{
            name: 'Total horas restantes',
            type: 'column',
            //yAxis: 1,
            data: {{restantes}},
            tooltip: {
                pointFormat: 'Horas restantes:<b>{point.y:.1f}</b><br/>'

            }

        }, {
            name: 'Estimacion nueva',
            type: 'spline',
            data: {{nuevaestima}}, //este a partir de cierto punto no puede ser solo restantes
            tooltip: {
                pointFormat: 'Horas Estimadas en base a progreso: <b>{point.y:.1f}</b><br/>'
            }
        },
        {
        	name: 'Previsto',
        	type: 'spline',
        	data: {{estima}},
        	tooltip: {
            pointFormat: 'Horas Previstas.: <b>{point.y:.1f}</b><br/>'
        }
        }]
    });
});

		</script>
	</head>
	<body>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="volver">
		<form id="formulario" action="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">
        	
        	<input type="submit" value="Volver" />
        </form>

</div>

	</body>
</html>