<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Agregar Sprint | Sitio de administracion</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-gestor model-rol change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Pagina Principal</a></h1>

        </div>
        
        <div id="user-tools">
            
                Welcome,
                <strong>{{usuario}}</strong>.
                
                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>
            
        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Pagina Principal</a>
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Agregar Sprint</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="/guardarSprint/{{proyectoid}}/" method="post" id="rol_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='JyS6xzJ9lDG2WgfiSPv0L0PvCmALwE52' />
{% csrf_token %}
<div>

  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-descripcion">
            
            
                <div>
                    
                    
                        <label class="required" for="id_descripcion">Descripcion:</label>
                        
                            <input class="vTextField" id="id_descripcion" maxlength="500" name="descripcion" type="text" />
                        
                    
                    
                </div>
            
        </div>
        
        <div class="form-row field-fecha-inicio">
            
            
                <div>
                    
                    
                        <label class="required" for="id_fecha_inicio">Fecha de inicio:</label>
                        
                            <input class="vTextField" id="id_descripcion" maxlength="500" name="fecha_inicio" type="text" value={{fecha_ahora}}/>
                        
                    
                    
                </div>
            
        </div>
            
        <div class="form-row field-duracion">
            
            
                <div>
                    
                    
                        <label class="required" for="id_duracion">Duracion:</label>
                        
                            <input class="vTextField" id="id_duracion" maxlength="500" name="duracion" type="text" />
                        
                    
                    
                </div>
                
            
        </div>
        
        <div class="form-row field-HUs">
            
            
                <div>
                    
                    
                        <label class="required" for="id_usuarios">HUs:</label>
                        
                            <select multiple = "multiple" id="id_usuarios" name="HUs">
                            {%for HU in HUs %}
								<option value="{{HU.id}}">{{HU.descripcion}}</option>
							{%endfor%}
</select>
                        
                    
                    
                        <p class="help"> Presiona "Control" para seleccionar mas de una opcion.</p>
                    
                </div>
            
        </div>
        
    
</fieldset>

<div class="submit-row">
<input type="submit" value="Guardar" />

</div>



    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('form#rol_form :input:visible:enabled:first').focus()
            });
        })(django.jQuery);
    </script>




<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
