<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Agregar usuario | Sito de administracion</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
<script type="text/javascript">
function validarForm(formulario) {
  if(formulario.username.value.length==0) { //comprueba que no esté vacío
    formulario.username.focus();   
    alert('No has completado todos los campos'); 
    return false; //devolvemos el foco
  }
  if(formulario.user_name.value.length==0) { //comprueba que no esté vacío
	    formulario.user_name.focus();   
	    alert('No has completado todos los campos'); 
	    return false; //devolvemos el foco
	}
  if(formulario.last_name.value.length==0) { //comprueba que no esté vacío
	    formulario.last_name.focus();   
	    alert('No has completado todos los campos'); 
	    return false; //devolvemos el foco
	  }
  if(formulario.direccion.value.length==0) { //comprueba que no esté vacío
	    formulario.direccion.focus();   
	    alert('No has completado todos los campos'); 
	    return false; //devolvemos el foco
	  }
  if(formulario.email.value.length==0) { //comprueba que no esté vacío
	    formulario.email.focus();   
	    alert('No has completado todos los campos'); 
	    return false; //devolvemos el foco
	  }
  if(formulario.password1.value.length==0) { //comprueba que no esté vacío
	    formulario.password1.focus();   
	    alert('No has completado todos los campos'); 
	    return false; //devolvemos el foco
	  }
  if(formulario.password2.value.length==0) { //comprueba que no esté vacío
	    formulario.password2.focus();   
	    alert('No has completado todos los campos'); 
	    return false; //devolvemos el foco
	  }
 
  return true;
}
</script>
</head>


<body class=" app-gestor model-myuser change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/login/">Registro de Usuario Nuevo</a></h1>

<form enctype="multipart/form-data" action="/save/" method="post" id="myuser_form" novalidate onsubmit="return validarForm(this);"><input type='hidden' name='csrfmiddlewaretoken' value='I2gvMo5vSN0jrTyA6qIeHcNcN5UtgvFS' />
  {% csrf_token %}
    <p>Ingrese los datos del usuario a crearse.</p>

<div>

  <fieldset class="module aligned wide">

        <div class="form-row field-username">

                <div>

                        <label class="required" for="id_username">Username:</label>
                        
                            <input class="vTextField" id="id_username" maxlength="40" name="username" type="text" pattern="[a-z]" required autofocus="autofocus"/>
               				
                </div>
            
        </div>
        
        <div class="form-row field-user_name">

                <div>

                        <label class="required" for="id_user_name">Nombre:</label>
                        
                            <input class="vTextField" id="id_user_name" maxlength="255" name="user_name" type="text" pattern="[a-z]" required="required" autofocus="autofocus"/>

                </div>
            
        </div>
        
        <div class="form-row field-last_name">

                <div>

                        <label class="required" for="id_last_name">Apellido:</label>
                        
                            <input class="vTextField" id="id_last_name" maxlength="255" name="last_name" type="text" pattern="[a-z]" required="required" autofocus="autofocus"/>

                </div>
            
        </div>
    	
    	<div class="form-row field-direccion">

                <div>

                        <label class="required" for="id_direccion">Direccion:</label>
                        
                            <input class="vTextField" id="id_direccion" maxlength="255" name="direccion" type="text" pattern="[a-z]" required="required" autofocus="autofocus"/>

                </div>
            
        </div>
        
        <div class="form-row field-email">

                <div>

                        <label class="required" for="email">Email address:</label>
                        
                            <input class="email" id="email" maxlength="255" name="email" type="email" required="required" autofocus="autofocus"/>

                </div>
            
        </div>
    
        <div class="form-row field-password1">

                <div>

                        <label class="required" for="id_password1">Password:</label>
                        
                            <input id="id_password1" name="password1" type="password" />

                </div>
            
        </div>
    
        <div class="form-row field-password2">

                <div>

                        <label class="required" for="id_password2">Password confirmation:</label>
                        
                            <input id="id_password2" name="password2" type="password" />

                </div>
            
        </div>
        
        <div>
        	<label class="required" for="id_password2">Seleccione la frecuencia en la que desea recibir las notificaciones de sus cambios al correo:</label>
        	<font color=black>
			<input type="radio" name="notificacion" value="instante" checked>Al instante que ocurran los cambios 
			<br>
			<input type="radio" name="notificacion" value="dia">Diariamente
			<br>
			<input type="radio" name="notificacion" value="semana">Semanalmente
			<br>
			<input type="radio" name="notificacion" value="mes">Mensualmente
			</font>
        </div>

</fieldset>

<script type="text/javascript">document.getElementById("id_username").focus();</script>

<div class="submit-row">
<input type="submit" value="Crear cuenta" class="guardarUsuarioView" name="_save" />

<!-- 
<input type="submit" value="Save and add another" name="_addanother" />
<input type="submit" value="Save and continue editing" name="_continue" />
</div>

-->

    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('form#myuser_form :input:visible:enabled:first').focus()
            });
        })(django.jQuery);
    </script>

<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
