<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Welcome to home page | Sistema para Consultora de Desarrollo</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/hola/">Home Page</a></h1>

        </div>
        
        <div id="user-tools">
            
                Welcome,
                <strong>{{usuario}}</strong>.
            

                <a href="/password_change/">Change password</a> /
                
                <a href="/logout/">Log out</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div id="content" class="colMS">
        
        <h1>Pagina en Construccion</h1>
  
<!--     
<div id="content-main">


    
        <div class="app-gestor module">
        <table>
        <caption>
            <a href="/admin/gestor/" class="section" title="Models in the Gestor application">Gestor</a>
        </caption>
        
            <tr class="model-myuser">
            
                <th scope="row"><a href="/admin/gestor/myuser/">My users</a></th>
            

            
                <td><a href="/admin/gestor/myuser/add/" class="addlink">Add</a></td>
            

            
                <td><a href="/admin/gestor/myuser/" class="changelink">Change</a></td>
            
            </tr>
        
        </table>
        </div>
    

</div>

        
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Recent Actions</h2>
        <h3>My Actions</h3>
            
            
            
            <p>None available</p>
            
    </div>
</div>

        <br class="clear" />
    </div>
    <!-- END Content -->
<!-- 
    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
