<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Change proyecto | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" app-gestor model-proyecto change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Cambiar version Actual de HU: {{hu_actual.version}}</a></h1>

        </div>
        
         <div id="user-tools">    

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Pagina Principal</a>
<!-- 
&rsaquo; <a href="/admin/gestor/">Gestor</a>
&rsaquo; <a href="/admin/gestor/proyecto/">Proyectos</a>
&rsaquo; p2
 -->
</div>

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Cambiar version HU</h1>
        <div id="content-main">


  <ul class="object-tools">
    <!-- 
    <li>
        
        <a href="/admin/gestor/proyecto/2/history/" class="historylink">Historial</a>
    </li>
     -->
    
  </ul>
<table width="900" bordercolor = #8904B1 border="8" align="center">
	<tr>
         <td align="center" bgcolor="#F7F2E0"><font size="2" color="black"><b>Version de HU</b></font></td>
         <td align="center" bgcolor="#F7F2E0"><font size="2" color="black"><b>Descripcion</b></font></td>
         <td align="center" bgcolor="#F7F2E0"><font size="2" color="black"><b>Valor de Negocio</b></font></td>
         <td align="center" bgcolor="#F7F2E0"><font size="2" color="black"><b>Elegir?</b></font></td>
    </tr>
{%for hv in huv%}
	<tr><td align="center">{{hv.version}} </td>
	<td align="center">{{hv.descripcion}}  </td>
	<td align="center">{{hv.valor_negocio}}</td>
	<td align="center"><a href="/elegirVersionHU/{{hv.id}}/{{huid}}">Elegir</a></td>
	</tr>
{%endfor%}	
</table>

<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>

