<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Change proyecto | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-gestor model-proyecto change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Modificación de HU</a></h1>

        </div>
        
         <div id="user-tools">    

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Pagina Principal</a>
<!-- 
&rsaquo; <a href="/admin/gestor/">Gestor</a>
&rsaquo; <a href="/admin/gestor/proyecto/">Proyectos</a>
&rsaquo; p2
 -->
</div>

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Modificar HU</h1>
        <div id="content-main">


  <ul class="object-tools">
    <!-- 
    <li>
        
        <a href="/admin/gestor/proyecto/2/history/" class="historylink">Historial</a>
    </li>
     -->
    
  </ul>

{%if is_Scrum == "1"%}    
<form enctype="multipart/form-data" method="post" id="proyecto_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='lIrpccfDE0jXqIrun25AwLRBdIxGUDco' />
{% csrf_token %}
	<div>
		<b>Descripcion de Scrum: </b> {{HU.descripcion}}<br/><br/>
		<b>Valor de negocio: </b> {{HU.valor_negocio}}<br/><br/>
		{{form.as_p}}
            
	</div>
<div class="submit-row">
<input type="submit" value="Guardar" class="modificarProyecto" name="_save" />
{%elif is_Scrum == "0"%}
<form action="/guardarHU/{{HU.id}}/{{is_Scrum}}/" method="post"  required="required" autofocus="autofocus">
	{% csrf_token %}
	<div>
     	<label class="required" for="id_nombre">Descripcion:</label>
     	<input class="vTextField" id="id_nombre" maxlength="500" name="descripcion" value={{HU.descripcion}} type="text" />
    </div>
    
    <div>
        <label class="required" for="id_permisos">Valor de Negocio:</label>
        <select id="id_actividades" name="valor_negocio">
           {%for valor in valores %}
          		{%ifequal valor HU.valor_negocio%}
          			<option value="{{valor}}" selected="selected">{{valor}}</option>
          		{%else%}
					<option value="{{valor}}">{{valor}}</option>
				{%endifequal%}
			{%endfor%}
		</select>
    </div>
    <div>
        <label class="required" for="id_permisos">Estado:</label>
        <select id="id_actividades" name="estado">
           {%for e in estados %}
          		{%if e == HU.estado%}
          			<option value="{{e}}" selected="selected">{{e}}</option>
          		{%else%}
					<option value="{{e}}">{{e}}</option>
				{%endif%}
			{%endfor%}
		</select>
    </div>
<input type="submit" name="Submit" value="Guardar" tabindex="2" />
</form>

{%else%}
<form action="/guardarHU/{{HU.id}}/{{is_Scrum}}/" method="post">
	{% csrf_token %}
	<div>
		<b>Descripcion de Scrum: </b> {{HU.descripcion}}<br/><br/>
		<b>Duracion: </b> {{HU.duracion}}<br/><br/>
		<b>Horas ya trabajadas: </b> {{HU.acumulador_horas}}<br/><br/>      
	</div>
    
    <div>
        <label class="required" for="id_horas_trabajadas">Agregar horas trabajadas:</label>
        <input class="vTextField" id="id_nombre" maxlength="500" name="horas_agregar" type="text" required="required" autofocus="autofocus"/><br><br>
        <label class="required" for="id_descripcion">Descripcion:</label>
        <textarea name="descripcion_horas" rows="10" cols="40"></textarea>
         
    </div>

<input type="submit" name="Submit" value="Guardar" tabindex="2"/>
<p><a href="/adminAdjunto/{{HU.id}}/">Administrar archivos adjuntos</a></p>
</form> 
{%endif%}


<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>

