<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Change proyecto | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-gestor model-proyecto change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Modificación de Sprint</a></h1>

        </div>
        
         <div id="user-tools">    

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}/">Pagina Principal</a>
<!-- 
&rsaquo; <a href="/admin/gestor/">Gestor</a>
&rsaquo; <a href="/admin/gestor/proyecto/">Proyectos</a>
&rsaquo; p2
 -->
</div>

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Modificar Sprint</h1>
        <div id="content-main">

  <ul class="object-tools">
    <!-- 
    <li>
        
        <a href="/admin/gestor/proyecto/2/history/" class="historylink">Historial</a>
    </li>
     -->
    
  </ul>

<form enctype="multipart/form-data" method="post" id="sprint_form" novalidate>
{% csrf_token %}

<div>

<FORM ACTION="/modificarSprint/{{usuarioid}}/{{proyectoid}}/{{rolid}}/{{Sprint.id}}/" METHOD= GET >

	<b><label class="required" for="id_fecha_inicio">Descripcion:</label></b>
	<input type="text" size="15" maxlength="30" value="{{Sprint.descripcion}}" name="descripcion">
	
	<p><b><label class="required" for="id_fecha_inicio">Fecha de inicio:</label></b>
	<input type="text" size="15" maxlength="30" value="{{fecha}}" name="fecha_inicio">
	
	<p><b><label class="required" for="id_fecha_inicio">Duracion:</label></b>
	<input type="text" size="15" maxlength="30" value="{{Sprint.duracion}}" name="duracion">
	
	<p><b><label class="required" for="id_fecha_inicio">Estado:</label></b>
	<select name="estado">
		{%for e in estados%}
			{%if Sprint.estado == e%}
    			<option selected="selected" value="{{Sprint.estado}}">{{Sprint.estado}}</option>
    		{%else%}
    			<option value="{{e}}">{{e}}</option>
    		{%endif%}
    	{%endfor%}
	</select>

	<p><b><label class="required" for="id_fecha_inicio">Lista de HUs del Sprint:</label></b>
	<label>Multiple Selection </label>&nbsp;</td>
    <select name="hu" multiple="multiple" size=10>
    	{%for h in Sprint.hu.all%}
    			<option selected="selected" value="{{h.id}}">{{h.descripcion}}</option>
        {%endfor%}
        
        {%for h in lista_HU_sin_asignar%}
    			<option value="{{h.id}}">{{h.descripcion}}</option>
        {%endfor%}
    </select>
    
    <div class="form-row field-Flujos">

                <div>

                        <label class="required" for="id_usuarios">Flujos: Multiple seleccion</label>
                        
                            <select multiple = "multiple" id="id_usuarios" name="flujo">
                            {%for flujo in flujos %}
								<option value="{{flujo.id}}"{%if flujo in Sprint.flujo.all%}selected="selected"{%endif%}> {{flujo}}</option>
							{%endfor%}
</select>

                        <p class="help"> Presiona "Control" para seleccionar mas de una opcion.</p>
                        <p><a href="/crearFlujo/{{usuarioid}}/{{proyectoid}}/{{rolid}}">Agregar nuevo</a></p>
                    
                </div>
            
        </div>
        <div class="form-row field-asignar">
        <p><a href="/asignarHUFlujo/{{proyectoid}}/{{rolid}}/{{Sprint.id}}">Asignar HU a usuarios y calsificar en los flujos</a></p>
        </div>
    
    <input type="submit" name="Submit" value="Guardar" tabindex="2" />
</FORM> 
            
</div>

<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>

