<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> Pagina Principal | Sistema para Consultora de Desarrollo</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" dashboard">

<!-- Container -->
<div id="container">
{% csrf_token %}
    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/hola/">Pagina Principal</a></h1>

        </div>
        
        <div id="user-tools">
            
                Bienvenido,
                <strong>{{usuario}}</strong>.
            

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
  		
<div style="width:1500x; height:590px; border:#000 2px solid; overflow:auto">
    
	<div class="app-gestor module">
      
		<table><caption>Gestor</caption>

			{% if roles|length > 0%}
            	<th>Roles de Proyecto</th>
            	{%for rol in roles_inmodificables%}<!-- roles va a ser la lista que tenga o no elementos -->
            		{%if rol.estado == 'ACT'%}
            			<tr><td><p>{{rol}}</p></td>
            			<td><a href="/visualizarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="addlink">visualizar</a></td>
            			<td><a href="/asignarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="addlink">asignar</a></td>
            		{%else%}
            			<tr><td><p><font color="red"><a href="" class="deletelink"/> {{rol} </font></p></td>
            			<td><a href="/visualizarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="addlink">visualizar</a></td>
            			<td><a href="/reactivar/{{enlace.url}}/4/{{rol.id}}/" class="changelink">Reactivar</a></td>
            		{%endif%}
            	{%endfor%}
            	{%for rol in roles_modificables%}
            		{%if rol.estado == 'ACT'%}
            			{%if rol.usuario_creador == usuario %}
            				<tr><td><p>{{rol}}</p></td>
            				<td><a href="/visualizarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="addlink">visualizar</a></td>
            				<td><a href="/modificarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="changelink">modificar</a></td>
            				<td><a href="/asignarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="addlink">asignar</a></td>
            			{%endif%}
            		{%else%}
            			<tr><td><p><font color="red"><a href="" class="deletelink"/> {{rol}} </font></p></td>
            			<td><a href="/visualizarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="addlink">visualizar</a></td>
            			<td><a href="/reactivar/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/4/{{rol.id}}/" class="changelink">Reactivar</a></td>
            		{%endif%}
            	</tr>
            	{% endfor %}
            	
            	{%for enlace in enlaces%}
            		<tr><td><a href="{{enlace.url}}">{{enlace.nombre}}</a></td></tr>
            	{%endfor%}
            	
            {% endif %}
            
            
    	<table>        	
            <!--Lo que se imprima aca va a ser la lista de roles si es que tiene permiso, sino se va a imprimir una lista vacia,lo
            que equivale a no imprimir nada,para lo cual de acuerdo al permiso que tenga este rol, voy a mandar desde la vista una lista
            vacia o una lista llena de roles que estan en la base de datos-->
<!-- FLUJOS -->
			{% if flujos|length > 0%}
            	<table>
            	<th>Flujos disponibles</th>
        
            	<tr class="model-proyecto">
            
				{% for flujo in flujos %}
			     	{%if flujo.estado == 'CAN'%}
			     		<font color="red"><td><a href="" class="deletelink"/> {{flujo.nombre}} </td></font>
			     	{%else%}
  						<td> {{flujo.nombre}} </td>
			     	{%endif%}
			     	
  					{%for enlace in enlacefv%}
                		<td><a href="/visualizarFlujo/{{enlace.url}}/{{flujo.id}}/" class="addlink">Visualizar</a></td>
             		{% endfor %}

            		{% if flujosm|length > 0%}
            			{%for enlace in enlacefm%}
            				{%for f in flujosm%}
            					{%if f == flujo%}
                					{%if flujo.estado == 'CAN'%}
                						<td><a href="/reactivar/{{enlace.url}}/1/{{flujo.id}}/" class="changelink">Reactivar</a></td>
                					{%else%}
                						<td><a href="/modificarFlujo/{{enlace.url}}/{{flujo.id}}/" class="changelink">Modificar</a></td>
                					{%endif%}
                				{%endif%}
                			{%endfor%}
                		{%endfor%}
                		
                	{% endif %}
              	</tr>
               {% endfor %}
            {% endif %}
            
            {%for enlace in enlacef%}
            	<td><a href="{{enlace.url}}">{{enlace.nombre}}</a></td>
            {%endfor%}

<!-- HU'S -->
<!-- Product Owner -->
{% if is_Scrum == 0 %}
			{% if HU_no_asignada_owner|length > 0%}
            	<table>
            	<th>Lista de HU's del proyecto Owner </th>
            	<tr class="model-proyecto">
				{% for HU in HU_no_asignada_owner %}
			    	{%if HU.descripcion|length > 0%}
			    		{%if HU.estado == 'CAN'%}
			     			<font color="red"><td><a href="" class="deletelink"/> {{HU.descripcion}} </td></font>
			    	 	{%else%}
  							<td> {{HU.descripcion}} </td>
			     		{%endif%}    
  						{%for enlace in enlaceHUv%}
                			<td></td><td><a href="/visualizarHU/{{enlace.url}}/{{HU.id}}/{{kanban}}/" class="addlink">Visualizar</a></td>
             			{% endfor %}
            			{% if HUsm|length > 0%}
            				{%for enlace in enlaceHUm%}
                				{%if HU.estado == 'CAN'%}
                					<td><a href="/reactivar/{{enlace.url}}/2/{{HU.id}}/" class="changelink">Reactivar</a></td>
                				{%else%}
                					<td><a href="/modificarHU/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Modificar</a></td>
                					<td><a href="/cambiarVersionHU/{{enlace.url}}/{{HU.id}}" class="changelink">Cambiar version</a></td>
                				{%endif%}
                			{%endfor%}
                		{% endif %}
                	{% endif %}
                	{%if HUsa == 0%}
                  		{%if HU.estado == 'ACT'%}
                			{% if HU.valido == False %}
								{%for enlace in enlaceHUm%}
									<td><a href="/validarHU/{{usuarioid}}/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Validar HU</a></td>
								{%endfor%}
							{%else%}
								{%for enlace in enlaceHUm%}
									<td><a href="/validarHU/{{usuarioid}}/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Invalidar HU</a></td>
								{%endfor%}
							{% endif %}
				   		{%endif%}
                	{%endif%}
                	</tr>
               {%endfor%}
           {%endif%}
           	{% if HU_asignada_owner|length > 0%}
               <tr class="model-proyecto">
               {% for HU in HU_asignada_owner %}
			    	{%if HU.descripcion|length > 0%}
  						<td> {{HU.descripcion}} </td>
  						{%for enlace in enlaceHUv%}
                			<td></td><td><a href="/visualizarHU/{{enlace.url}}/{{HU.id}}/0/{{kanban}}" class="addlink">Visualizar</a></td>
             			{% endfor %}
             		{%endif%}
             		</tr>
             	{% endfor %}
             {% endif %}
 {%else%}<!-- Scrum Master -->
			{% if HUs|length > 0%}
            	<table>
            	<th>Lista de HU's del proyecto </th>
        
            	<tr class="model-proyecto">
            
				{% for HU in HUs %}
				
			    	{%if HU.descripcion|length > 0%}
			    	
			    		{%if HU.estado == 'ACT'%}
  							<td> {{HU.descripcion}}
  							{%for h in HUsm_horas_agotadas%}
  								{%if h == HU%}
  									&nbsp;&nbsp;&nbsp;<font color="red"><b>Tiempo agotado, se necesita agregar horas!</b></font>
  								{%endif%}
  							{%endfor%}
  							</td>
			     		{%endif%}    

  						{%for enlace in enlaceHUv%}
  						{%if HU.estado == 'ACT'%}
                			<td><a href="/visualizarHU/{{enlace.url}}/{{HU.id}}/1/{{kanban}}/" class="addlink">Visualizar</a></td>
                		{%endif%}  	
             			{% endfor %}
             			{% if HUsm|length > 0%}
            				{%for enlace in enlaceHUm%}
						           {%if HU.estado == 'ACT'%}
						           		{%for h in HUsm_horas_agotadas%}
  											{%if h == HU%}
  												<td><a href="/modificarHU/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Modificar</a></td>
  												<td><a href="/reasignarhuFlujo/{{proyecto.id}}/{{HU.sprint.id}}/{{HU.id}}" class="changelink">Reasignar a flujo</a></td>
  											{%endif%}
  										{%endfor%}
  										{%for h in HUsm_no_desarrolladas%}
  											{%if h == HU%}
  												<td><a href="/modificarHU/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Modificar</a></td>
  											{%endif%}
  										{%endfor%}
                					{%endif%}
                			{%endfor%}
                		{% endif %}
                 	{%endif%}
              		</tr>
               	{% endfor %}
            {% endif %}
{%endif%}
            {% if HUs_add_horas|length > 0%}
            	<table width="1500">
					<tr>
					<td bgcolor="#CEECF5"><font size="2"><b>Descripcion </b></font> </td>
  						<td bgcolor="#CEECF5"><font size="2"> <B>Horas Trabajadas / Duracion</B></font> </td>
  						<td bgcolor="#CEECF5"><font size="2"> <B>Prioridad</B></font> </td>
					</tr>

            		<tr class="model-proyecto">
					{% for HU in HUs_add_horas %}
  						<td> {{HU.descripcion}} </td>
  						<td> <B>{{HU.acumulador_horas}} / {{HU.duracion}}</B> </td>
  						<td> <B>{{HU.prioridad}}</B> </td>
  						{%for enlace in enlaceHU_agregar%}
  								<td><a href="/visualizarHU/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/{{kanban}}/" class="changelink">Ver historial de tareas</a></td>
  								{%if HU.acumulador_horas != HU.duracion%}
  									{%if HU.estado_en_actividad != 'FIN' and HU.estado_en_actividad != 'APR'%}
  										{%if HU == HU_cargar%}
                							<td><a href="/modificarHU/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Agregar horas trabajadas</a></td>
             							{%endif%}
             						{%else%}
             							<td><font color="green"><b>HU Finalizada antes de tiempo</b></font></td>
             						{%endif%}
             					{%endif%}
             				{%if HU.acumulador_horas == HU.duracion%}
             					{%if HU.estado_en_actividad == 'FIN' or HU.estado_en_actividad == 'APR'%}
             						<td><b>HU Finalizada a tiempo</b></td>
             					{%else%}
             						{%if HU.acumulador_horas != 0%}
             							<td><font color="red"><b>HU No finalizada. Tiempo agotado. Contactar con Scrum</b></font></td>
             						{%else%}
             							{%if HU.duracion != 0%}
             								{%if HU == HU_cargar%}
             									<td><a href="/modificarHU/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Agregar horas trabajadas</a></td>
             								{%endif%}
             							{%else%}
             								<td><font color="blue"><b>Scrum aun no ha estimado duracion. Contactar con Scrum</b></font></td>
             							{%endif%}
             						{%endif%}
             					{%endif%}
             				{%endif%}
             			{% endfor %}
              			</tr>
               		{% endfor %}
            {% endif %}
			{%for enlace in enlaceHU%}
            	<td><a href="{{enlace.url}}">{{enlace.nombre}}</a></td>
            {%endfor%}
            
          <!-- si tiene permiso modificar(no me refiero al nivel scrum) entonces debera ver el boton CREAR PRODUCT BACKLOG
            el cual chequeara que todas las HU esten validadas 
            Crear backlog deberia validar todas las hu automatiamente-->
            {% if HUsm|length > 0%}
            <td><a href="/visualizarBacklog/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/" class="addlink">Visualizar Product Backlog</a></td>
            {%endif%}
            
<!-- SPRINTS -->
          {% if sprints|length > 0%}
			<table>
            <th>Lista de Sprint's del proyecto </th>
        
            <tr class="model-proyecto">
            
				{% for sprint in sprints %}
			       {%if sprint.estado == 'CAN'%}
			     		<font color="red"><td><a href="" class="deletelink"/> {{sprint.descripcion}} </td></font>
			    	{%else%}
  						<td> {{sprint.descripcion}} </td>
			     	{%endif%}  

  					{%for enlace in enlaceSprintv%}
                		<td><a href="/visualizarSprint/{{enlace.url}}/{{sprint.id}}/" class="addlink">Visualizar</a></td>
                		{%for s in sprintsvk%}
                			{%if s == sprint%}
                				<td><a href="/asignarHUFlujo/{{enlace.url}}/{{sprint.id}}/" class="changelink">Ver HU en flujos</a></td>
                				<td><a href="/verKanban/{{enlace.url}}/{{sprint.id}}/" class="changelink">Ver Kanban</a></td>
                			{%endif%}
                		{%endfor%}
             		{% endfor %}

            		{% if sprintsm|length > 0%}
            			{%for s in sprintsm%}
            				{%if s == sprint%}
            					{%for enlace in enlaceSprintm%}
                					{%if sprint.estado == 'CAN'%}
                						<td><a href="/reactivar/{{enlace.url}}/3/{{sprint.id}}/" class="changelink">Reactivar</a></td>
                					{%else%}
                						<td><a href="/modificarSprint/{{enlace.url}}/{{sprint.id}}/" class="changelink">Modificar</a></td>
                						{%if existe == 0%}
                							<td><a href="/asignarHUFlujo/{{enlace.url}}/{{sprint.id}}/" class="changelink">Clasificar HU en flujos</a></td>
                						{%endif%}
                					{%endif%}
                				{%endfor%}
                			{%endif%}
                		{%endfor%}
                	{% endif %} 
              	</tr>
               {% endfor %}
               <td><a href="/visualizarSprintBacklog/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/" class="addlink">Visualizar Sprint Backlog</a></td>
            {% endif %}

            {%for enlace in enlaceSprint%}
            	<td><a href="{{enlace.url}}">{{enlace.nombre}}</a></td>
            {%endfor%}
            
            
<!-- Cliente, visualizacion de HU con usuario asignado -->
            {%if HUv|length > 0%}
            	<p><font size = 5><b>Reporte para el cliente</b></font>(parcial)</p>
            	<p>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-</p>
            	<p><b><font size = 3>HU's</font></b></p>
            	{%for h,u in HUc.items%}
            		{%if u == None %}
            			<p><b>{{h}} </b>aun no se asignado a ningun usuario </p> 
            		{%else%}
            			<p><b>{{h}} </b>asignado a <b>{{u}}</b></p> 
            		{%endif%} 
            	{%endfor%}
            	<p>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-</p>
            {%endif%}
        </table>   <!--
        <form method="get" action="/crearFlujo/{{usuario.id}}/{{proyecto.id}}/">

			<input type="submit" value="Crear Flujo" />

		</form>
 -->        
        </div>

</div>
  		
<!-- END Container -->

</body>
</html>
