<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> Pagina Principal | Sistema para Consultora de Desarrollo</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard">

<!-- Container -->
<div id="container">
{% csrf_token %}
    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/hola/">Pagina Principal</a></h1>

        </div>
        
        <div id="user-tools">
            
                Bienvenido,
                <strong>{{usuario}}</strong>.
            

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
  		
  		<div id="content" class="colMS">
    
        <div class="app-gestor module">
      
<table><caption>Gestor</caption>
            
           
            {% if roles|length > 0%}
            <th>Roles de Proyecto</th>
            	{%for rol in roles%}<!-- roles va a ser la lista que tenga o no elementos -->
            		<tr><td><p>{{rol}}</p></td>
            		<td><a href="/visualizarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="addlink">visualizar</a></td>
            		<td><a href="/asignarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="addlink">asignar</a></td>
            		{%if rol.usuario_creador == usuario %}
            		<td><a href="/modificarRol/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/{{rol.id}}/"class="changelink">modificar</a></td>
            		{%endif%}
            		</tr>
            	{% endfor %}
            	{%for enlace in enlaces%}
            		<tr><td><a href="{{enlace.url}}">{{enlace.nombre}}</a></td></tr>
            	{%endfor%}
            {% endif %}
    <table>        	
            
            
            <!--Lo que se imprima aca va a ser la lista de roles si es que tiene permiso, sino se va a imprimir una lista vacia,lo
            que equivale a no imprimir nada,para lo cual de acuerdo al permiso que tenga este rol, voy a mandar desde la vista una lista
            vacia o una lista llena de roles que estan en la base de datos-->
			
            {% if flujos|length > 0%}
            <table>
            <th>Flujos disponibles</th>
        
            <tr class="model-proyecto">
            
				{% for flujo in flujos %}
			            
  				<td> {{flujo.nombre}} </td>
  					{%for enlace in enlacefv%}
  		           
                		<td><a href="/visualizarFlujo/{{enlace.url}}/{{flujo.id}}/" class="addlink">Visualizar</a></td>
                		
             		{% endfor %}
             		
            		{% if flujosm|length > 0%}
            		
            			{%for enlace in enlacefm%}
            		
                			<td><a href="/modificarFlujo/{{enlace.url}}/{{flujo.id}}/" class="changelink">Modificar</a></td>
                		
                		{%endfor%}
                		
                	{% endif %}
                	
              	</tr>
              	
               {% endfor %}
               
            {% endif %}
            
            {%for enlace in enlacef%}
                
            	<td><a href="{{enlace.url}}">{{enlace.nombre}}</a></td>
            		
            {%endfor%}
            
            
           {% if HUs|length > 0%}
            <table>
            <th>Lista de HU's del proyecto </th>
        
            <tr class="model-proyecto">
            
				{% for HU in HUs %}
			    	{%if HU.descripcion|length > 0%}      
  						<td> {{HU.descripcion}} </td>
  						{%for enlace in enlaceHUv%}
  		           
                			<td><a href="/visualizarHU/{{enlace.url}}/{{HU.id}}/" class="addlink">Visualizar</a></td>
                		
             			{% endfor %}

            			{% if HUsm|length > 0%}
            		
            				{%for enlace in enlaceHUm%}
            		
                				<td><a href="/modificarHU/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Modificar</a></td>
                		
                			{%endfor%}
                		
                		{% endif %}
                		
                {%if HUsa == 1%}
                	{%for h in HU_no_asignada%}
                		{%if h.id == HU.id%}
                			{%for enlace in enlaceHUa%}
            		
                				<td><a href="/delegarHU/{{enlace.url}}/{{HU.id}}" class="asignlink">Asignar</a></td>
                		
                			{%endfor%}
                		{%endif%}
                	{%endfor%}
                {%else%}
                	{% if HU.valido == False %}
						{%for enlace in enlaceHUm%}
							<td><a href="/validarHU/{{usuarioid}}/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Validar HU</a></td>
						{%endfor%}
					{%else%}
						{%for enlace in enlaceHUm%}
							<td><a href="/validarHU/{{usuarioid}}/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Invalidar HU</a></td>
						{%endfor%}
					{% endif %}
                {%endif%}
                	{%endif%}
                	
              		</tr>
              	
               	{% endfor %}
               
            {% endif %}

            {% if HUs_add_horas|length > 0%}
            <table>
            <th>Lista de HU's a las que estas asignado </th>
        	<th> <B>Duracion/Horas Trabajadas</B> </th>
            <tr class="model-proyecto">
            	
				{% for HU in HUs_add_horas %}
			            
  				<td> {{HU.descripcion}} a </td>
  				<td> <B>{{HU.duracion}} / {{HU.acumulador_horas}}</B> </td><td></td><td></td><td></td>
  					{%for enlace in enlaceHU_agregar%}
  		           
                		<td><a href="/modificarHU/{{enlace.url}}/{{HU.id}}/{{is_Scrum}}/" class="changelink">Agregar horas trabajadas</a></td>
                		
             		{% endfor %}
                	
              	</tr>
              	
               {% endfor %}
               
            {% endif %}
            
            {%for enlace in enlaceHU%}
                
            	<td><a href="{{enlace.url}}">{{enlace.nombre}}</a></td>
            		
            {%endfor%}
            
          <!-- si tiene permiso modificar(no me refiero al nivel scrum) entonces debera ver el boton CREAR PRODUCT BACKLOG
            el cual chequeara que todas las HU esten validadas 
            Crear backlog deberia validar todas las hu automatiamente-->
            {% if HUsm|length > 0%}
            	<td><a href="/visualizarBacklog/{{usuario.id}}/{{proyecto.id}}/{{rolid}}/">Visualizar Product Backlog</a></td>
            {%endif%}
            
          {% if sprints|length > 0%}
            <table>
            <th>Lista de Sprint's del proyecto </th>
        
            <tr class="model-proyecto">
            
				{% for sprint in sprints %}
			            
  				<td> {{sprint.descripcion}} </td>
  					{%for enlace in enlaceSprintv%}
  		           
                		<td><a href="/visualizarSprint/{{enlace.url}}/{{sprint.id}}/" class="addlink">Visualizar</a></td>
                		
             		{% endfor %}

            		{% if sprintsm|length > 0%}
            		
            			{%for enlace in enlaceSprintm%}
            		
                			<td><a href="/modificarSprint/{{enlace.url}}/{{sprint.id}}/" class="changelink">Modificar</a></td>
                		
                		{%endfor%}
                		
                	{% endif %} 
                	
              	</tr>
              	
               {% endfor %}
               
            {% endif %}
            
            {%for enlace in enlaceSprint%}
                
            	<td><a href="{{enlace.url}}">{{enlace.nombre}}</a></td>
            		
            {%endfor%}
            
            <!-- Cliente, visualizacion de HU con usuario asignado -->
            
            {%if HUv|length > 0%}
            	<p><font size = 5><b>Reporte para el cliente</b></font>(parcial)</p>
            	<p>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-</p>
            	<p><b><font size = 3>HU's</font></b></p>
            	{%for h,u in HUc.items%}
            		{%if u == None %}
            			<p><b>{{h}} </b>aun no se asignado a ningun usuario </p> 
            		{%else%}
            			<p><b>{{h}} </b>asignado a <b>{{u}}</b></p> 
            		{%endif%} 
            	{%endfor%}
            	<p>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-</p>
            {%endif%}
      		
        </table>   <!--
        <form method="get" action="/crearFlujo/{{usuario.id}}/{{proyecto.id}}/">

			<input type="submit" value="Crear Flujo" />

		</form>
 -->        
        </div>
    

</div>
  		
<!--     

        
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Recent Actions</h2>
        <h3>My Actions</h3>
            
            
            
            <p>None available</p>
            
    </div>
</div>

        <br class="clear" />
    </div>
    <!-- END Content -->
<!-- 
    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
