<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> Visualizar Backlog</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Visualizar Sprint Backlog</a></h1>

        </div>
        
        <div id="user-tools">
            
                Bienvenido,
                <strong>{{usuario}}</strong>.
            

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
  		
  		<div>
    
        <div align="center">
        	<br/>
        	<font size="5" color="#088A85" align="center"><b><i>Sprint del Backlog</i></b><font size="2" color="#088A85">
        	<br/><br/>
        </div>
        <table width="900" bordercolor = #8904B1 border="8" align="center">
        
            <tr>
            	{% csrf_token %}
            	<tr>
					<td align="center" bgcolor="#81F7F3"><font size="2" color="black"><b>Descripcion</b></font></td>
					<td WIDTH=200 BGCOLOR="#A9F5F2" align="center"><font size="2" color="black"><b>Historias de Usuario</b></font></td>
					{% for d in dias %}
						<td WIDTH=100 BGCOLOR="#CEF6F5" align="center"><font size="2" color="black"><b> DIA {{d}} </b></font></td>
					{%endfor%}
					</tr>
					{% for Sprint in sprint %}
					<tr>
						{%for s,l in len.items%}
							{%if s == Sprint%}
								<td rowspan="{{l}}" align="center"><font size="3" color="#088A85"><b>{{Sprint}}</b></font></td>
								{% for hu in Sprint.hu.all %}
									<tr>
										<td align="center">{{hu.descripcion}}</td>
										{%for h, acu in lista.items%}
											{%if hu == h%}
												{%for a in acu%}
													<td align="center">{{a}}</td>
												{%endfor%}
											{%endif%}
										{%endfor%}
										<td></td>	
									</tr>
								{%endfor%}
								</tr>
							{%endif%}
						{%endfor%}
					{%endfor%}
        </table>
        </div>

	<!-- <td><a href="#">Volver</a></td> -->
</div>
  		
<!-- END Container -->

</body>
</html>
