<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Sistema para Consultora de Desarrollo</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Visualizar HU Version Final {{version}}</a></h1>

        </div>      
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div class="content">
        
        <form id="formulario" action="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/" method="GET">
        {% csrf_token %}
        {%if is_Scrum == "1" or is_Scrum == "0"%}
        	<b>Descripcion: </b> {{HU.descripcion}}<br/><br/>
        	<b>Valor de negocio: </b> {{HU.valor_negocio}}<br/><br/>
        	<b>Valor Tecnico: </b> {{HU.valor_tecnico}}<br/><br/>
        	<b>Prioridad: </b> {{HU.prioridad}}<br/><br/>
        	<b>Duracion en horas: </b> {{HU.duracion}}<br/><br/>
        	<b>Horas realizadas: </b> {{HU.acumulador_horas}}<br/><br/>
        	<b>Estado de la HU: </b> {{HU.estado}}<br/><br/>
        	<b>Valido: </b> {{HU.valido}}<br/><br/>
        	<b>Usuario asignado: </b> {{usuario_asignado}}<br/><br/>
        	<b>Sprint al que pertenece: </b> {{sprint}}<br/><br/>
        	<b>Flujo al que pertenece: </b> {{flujo}}<br/><br/>
        {%endif%}
        	<br/>
        	<div style="width:900px; height:250px; border:#000 2px solid; overflow:auto">
        		<b>Descripcion de las horas realizadas </b> <br/>
        		<table>
        		<th>Horas Cargadas</th><td></td><td></td><th>Descripcion</th><td></td><td></td><th>Actividades</th><td></td><td></td><th>Estado</th><td></td><td></td>
        		<tr class="model-proyecto">
        		{% for des in HU.hu_descripcion.all %}
        			<td>{{des.horas_trabajadas}}</td><td></td><td></td>
        			<td>{{des.descripcion_horas_trabajadas}}</td><td></td><td></td>
        			<td>{{des.actividad}}</td><td></td><td></td>
        			<td>{{des.estado}}</td><td></td><td></td>
        		
        			</tr>
        		{% endfor %}
        	</div>
        	{%for adjunto in adjuntos%}
        	<tr><td><a a href="{{adjunto.archivo.url}}">{{adjunto.archivo.name}}</a></td></tr>
        	{%endfor%}
        	</table>    	
        </form>
        
     </div>
     <div class="footer">
     <!-- end.footer --></div>

</body>
</html>
