<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Sistema para Consultora de Desarrollo</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Visualizar HU {{HU.descripcion}}</a></h1>

        </div>      
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div class="content">
        
        <form id="formulario" action="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">{% csrf_token %}
        	<b>Descripcion: </b> {{HU.descripcion}}<br/><br/>
        	<b>Valor de negocio: </b> {{HU.valor_negocio}}<br/><br/>
        	<b>Valor Tecnico: </b> {{HU.valor_tecnico}}<br/><br/>
        	<b>Prioridad: </b> {{HU.prioridad}}<br/><br/>
        	<b>Duracion en horas: </b> {{HU.duracion}}<br/><br/>
        	<b>Horas realizadas: </b> {{HU.acumulador_horas}}<br/><br/>
        	<b>Estado de la HU: </b> {{HU.estado}}<br/><br/>
        	<b>Valido: </b> {{HU.valido}}<br/><br/>
        	<input type="submit" value="Volver" />
        </form>
     </div>
     <div class="footer">
     <!-- end.footer --></div>

</body>
</html>
