{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Pagina Principal' %}</a>
&rsaquo; {% trans 'Confirmacion de reseteo de contrasenha' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Por favor, ingresa tu contrasenha anterior, por motivos de seguridad, e introduce tu contrasenha dos veces para verificar el tipeo correcto" %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans ''Contrasenha nueva' ' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirmacion de contrasenha' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<p>{% trans "El link de reseteo de password es incorrecto, posiblemente porque ya ha sido usado.  Pide un nuevo reseteo de contrasenha" %}</p>

{% endif %}

{% endblock %}
