{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Pagina principal' %}</a>
&rsaquo; {% trans 'Reseteo de contrasenha' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>{% trans "Te has olvidado de tu cntrasenha? Ingresa tu email abajo, y recibiras intrucciones para cambiar tu contrasenha." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Resetear mi contrasenha' %}" /></p>
</form>

{% endblock %}
